{% block content %} 
<div class="container" id="main">
  <div class="row">
    7 Minute Workout
  </div>
  <div class="row">
    <button id="start-workout" class="button-large">
      Start
    </button>
  </div>
</div>
{% endblock %}